* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: uppercase;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 20%);
}

.card {
    /* width: 20%; */
    height: 400px;
    /* margin-left: 50px; */
    background-color: silver;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 20px;
    /* text-align: center; */
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s all ease;
}

.front {
    width: 90%;
    /* padding-right: 5px; */
    backface-visibility: hidden;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.front .header {
    width: 100%;
    padding-bottom: 20px;
}

.front .header p {
    color: rgba(0, 0, 0, 0.568);
    font-size: 14px;
    padding-top: 5px;
}

.card .front figure {
    width: 100%;
    height: 200px;
    text-align: center;
}

.front figure button {
    background-color: silver;
    border: none;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
    user-select: none;
}

.card .front figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    user-select: none;
}

.front .footer {
    width: 100%;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    color: cornflowerblue;
}

.front .footer button {
    background-color: silver;
    border: none;
    color: cornflowerblue;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
}

.back {
    width: 90%;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    background-color: silver;
    /* border-radius: 10px; */
    /* padding: 50px 30px; */
    /* background-color: red; */
}

.back h1 {
    padding-bottom: 10px;
}

.back p {
    line-height: 160%;
    color: rgba(0, 0, 0, 0.812);
}

.back figure {
    text-align: center;
}

.back figure button {
    background-color: silver;
    border: none;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.568);
    cursor: pointer;
    cursor: pointer;
    user-select: none;
}

.back .back_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

.back .back_btn button {
    background-color: silver;
    color: red;
    border: none;
    cursor: pointer;
    font-size: 25px;
    user-select: none;
}

.back .back_btn button:first-child {
    color: cornflowerblue;
}